.thumbnail {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  position: relative;
}

.thumbnail_image {
  border-radius: 10px;
  width: 100%;
  aspect-ratio: 16/9;

  overflow: hidden;

  position: relative;

  cursor: pointer;

  transition: 0.3s all;
}

.thumbnail_image > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center 10px;
}

.thumbnail_image:hover > img {
  opacity: 0.8;
}

.redirect_button {
  background-color: #ffffff33;
  padding: 12px;
  border-radius: 50px;

  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  display: none;
  align-items: center;
  gap: 0.5rem;

  opacity: 1;

  transition: all 0.3s;
}

.thumbnail_image:hover .redirect_button {
  display: flex;
}

.arrow {
  border-radius: 50%;

  width: 30px;
}

.bookmark {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 12%;
  aspect-ratio: 1/1;

  background-color: #97979799;
  border-radius: 50%;

  position: absolute;
  right: 1rem;
  top: 1rem;

  cursor: pointer;

  transition: all 0.5s;
}

.bookmark:hover {
  background-color: #fff;
}

.bookmark:hover svg path {
  transition: all 0.5s;
  stroke: #000;
}

.info {
  display: flex;
  align-items: center;

  font-size: 13px;
  font-weight: 300;
  color: #ddd;

  gap: 1rem;
}

.info span {
  display: flex;
  align-items: center;
  gap: 6px;

  position: relative;
}

.info span::before {
  content: "";
  width: 2px;
  height: 2px;
  border-radius: 50%;
  display: block;
  background-color: #ddd;

  position: absolute;
  left: -0.5rem;
}

.info img {
  max-width: 12px;
}

.title {
  font-size: 18px;
  font-weight: 500;
}
