.body {
  width: 95%;
  margin: 0 auto;
}

.carousel {
  width: 100%;
  overflow: hidden;
  margin-right: 2rem;
}

.logo {
  font-size: 4rem;
  font-weight: 700;
}

.text {
  margin: 2rem 0 3rem;
}

.red {
  color: #fc4747;
}

.title {
  font-weight: 400;
  font-size: 2rem;

  margin-top: 1rem;
}

@media (max-width: 1024px) {
  .carousel {
    width: 97.5%;
    margin: 0 0 0 auto;
  }
}

@media (max-width: 768px) {
  .logo {
    font-size: 3rem;
  }

  .title {
    font-size: 1.5rem;
  }

  .carousel {
    width: 100%;
    margin: 0;
  }
}
